body {
    font-family: sans-serif;
    text-align: center;
    background-color: #333;
    font-size: 3rem;
    /* Base font size */
}

.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 98vh;
    position: relative;
}

.controls {
    display: flex;
    position: absolute;
    bottom: 0;
    justify-content: space-around;
    width: 100%;
}

.buttons {
    display: flex;
    align-items: flex-end;
    align-self: baseline;
    margin: auto;
    position: absolute;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-align: center;
    margin: 0 auto;
    padding: 2rem;
    color: #fff;
}

button {
    display: block;
    margin: 2rem auto;
    border-radius: 5px;
    padding: 15px 20px;
    font-size: 1.2rem;
    background-color: #4ca;
    /* Green background */
    color: white;
    /* White text */
    border: none;
    /* Remove default border */
    cursor: pointer;
    /* Pointer cursor on hover */
    transition:
        background-color 0.3s,
        transform 0.2s;
    /* Smooth transition */
}

.time-display {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.time-display h1 {
    font-size: 19vw;
    /* Responsive font size */
    font-family: monospace;
}

.overtime {
    color: #ff6b6b;
    /* Light red color */
    animation: pulse 1s infinite;
}

.pause {
    animation: pulse 1s infinite;
}

@keyframes pulse {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}
